[class*="box"]{
  height:100%;
  width:100%
}

@media only screen and (min-width: 768px) {
  .box{
    height: 48%;
    width: 15%;
  }
}


:root{
  --color-gray-transparent: rgba(47, 79, 79,.9);
  --color-orange-transparent: rgba(255, 165, 0,.9);
  --shadow:rgb(0,0,0);
}
.app{
  height:100vh;
  width:100%;
  background-image: linear-gradient(to bottom right, var(--color-gray-transparent),var(--color-orange-transparent));
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

.key {
  border-Radius:50%;
  border:none;
  width: 30px;
  height:30px;
  align-items: center;
  margin:2px; 
}

.keyOp{
  background-color: orange;
  color: white;
}

.keyNum{
  background-color: DarkSlateGray;
  color:white;
}
.keyOth{
  background-color: gray;
  color: black;
}

.longKey{
  border-Radius:50px/50px;
  border:none;
  width: 65px;
  height:30px;
  align-items: center;
  margin:2px; 
}

.keyPressed{
  border-Radius:50%;
  border:none;
  width: 30px;
  height:30px;
  align-items: center;
  margin:2px; 
  background-color: white;
  color:orange;
}

.key:focus:not(.focus-visible) {
  outline: none;
}

.calcbody{
  /* height: 240px;
  width: 150px; */
  border-width:1px; 
  border-style: solid;
  border-radius: 6px;
  background-color: black;
  padding: 5px;
  box-shadow: 0 2rem 4rem var(--shadow);
}

body{
  padding:10px;
}

.displayScreen{
  height:50px;
  width: 150px;
  margin-bottom: 5px;
}

.textArea{
  width:144px;
  height: 20px;
  background-color: black;
  color: white;
  border: none;
  text-align: right;
  padding: 5px;
}

